.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.info {
    -fx-font-size: 14px;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #45a049;
}